<template>
    <div id="appM" class="hero">
        <h3 class="vue-title"><i class="fa fa-film" style="padding: 3px"></i>{{messagetitle}}</h3>
        <div class="container mt-3 mt-sm-5">
            <div class="row justify-content-center">
                <div class="col-md-6">

                    <form @submit.prevent="submit">
                        <div class="form-group" :class="{ 'form-group--error': $v.title.$error }">
                            <label class="form__label">Enter Movie Title</label>
                            <input data-test="title" class="form__input" v-model.trim="$v.title.$model"/>
                        </div>
                        <div class="error" v-if="!$v.title.required">Title is Required</div>

                        <div class="form-group" :class="{ 'form-group--error': $v.released.$error }">
                            <label class="form-control-label" name="released">Movie release year</label>
                            <input data-test="released" class="form__input" type="number" v-model.trim="released"/>
                        </div>
                        <div class="error" v-if="!$v.released.minValue">release year must be after 1888 </div>
                        <div class="error" v-if="!$v.released.required">released year is Required</div>

                        <div class="form-group" :class="{ 'form-group--error': $v.cost.$error }">
                            <label class="form-control-label" name="cost">Set cost of Movie</label>
                            <input data-test="cost" class="form__input" type="number" v-model.trim="cost"/>
                        </div>
                        <div class="error" v-if="!$v.cost.required">Stock is Required</div>

                        <div class="form-group" :class="{ 'form-group--error': $v.stock.$error }">
                            <label class="form-control-label" name="stock">Set amount in stock</label>
                            <input data-test="stock" class="form__input" type="number" v-model.trim="stock"/>
                        </div>
                        <div class="error" v-if="!$v.stock.required">Stock is Required</div>
                        <p>
                            <button class="btn btn-primary btn1" type="submit" :disabled="submitStatus === 'PENDING'">Add Movie</button>
                        </p>
                        <p class="typo__p" v-if="submitStatus === 'OK'">Thanks for your Adding!</p>
                        <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
                        <p class="typo__p" v-if="submitStatus === 'PENDING'">Adding...</p>
                    </form>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import movieService from "@/services/movieService";
    import { required, minValue   } from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)
    Vue.use(VueSweetalert)

    export default {
        name: "AddMovie",
        data () {
            return {
                messagetitle: ' add Movie ',
                title: '',
                released: 1888,
                cost: 0,
                stock: 0,
                movies: {},
                submitStatus: null
            }
        },
        validations: {
            title:{
                required
            },
            released:{
                required,
                minValue: minValue(1888)
            },
            cost: {
                required
            },
            stock:{
                required
            }
        },
        methods: {
            submit () {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.submitStatus = 'OK'
                        var movie = {
                            title: this.title,
                            released: this.released,
                            cost: this.cost,
                            stock: this.stock
                        }
                        this.movie = movie
                        console.log('Submitting in MovieForm : ' + JSON.stringify(this.movie, null, 5))
                        this.addMovie(this.movie)
                    }, 500)
                }
            },
            addMovie: function (movie) {
                console.log('submitMovie!')
                console.log('Submitting in submitMovie : ' + movie)
                movieService.postMovie(movie)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response)
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            },

        }
    }

</script>

<style scoped>
    .vue-title {
        margin-top: 30px;
        text-align: center;
        font-size: 45pt;
        margin-bottom: 10px;
    }
    #appM {
        width: 95%;
        margin: 0 auto;
    }
    .required-field > label::after {
        content: '*';
        color: red;
        margin-left: 0.25rem;
    }
    .addMovie-form .form-control-label.text-left{
        text-align: left;
    }

    label {
        display: inline-block;
        width: 540px;
        text-align: left;
        font-size: x-large;
    }
    .typo__p {
        width: 540px;
        font-size: x-large;
    }
    .btn1 {
        width: 300px;
        font-size: x-large;
    }
    p {
        margin-top: 20px;
    }

    input {
        border: 1px solid silver;
        border-radius: 4px;
        background: white;
        padding: 5px 10px;
        width: 540px;
    }

    .dirty {
        border-color: #5A5;
        background: #EFE;
    }

    .dirty:focus {
        outline-color: #8E8;
    }

    .error {
        border-color: red;
        background: #157ffb;
        color: whitesmoke;
    }

    .error:focus {
        outline-color: #ffa519;
    }
</style>
